<!DOCTYPE html>
<html lang="en">
	<head>
		<title>3D TWEETS</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="css/main.css"/>
	</head>
	<body>
		<section>
			<button class="create-tweet">Random Tweet</button>
			<button class="get-tweets">Auth & Get Tweets</button>
		</section>

		<div class="ejs-context"><%= username %></div>

		<div id="info">
		<!-- <a href="http://threejs.org" target="_blank">three.js</a> - procedural 3D text by <a href="http://www.lab4games.net/zz85/blog" target="_blank">zz85</a> &amp; alteredq
		(fonts from <a href="http://typeface.neocracy.org/">typeface.js</a> and <a href="http://en.wikipedia.org/wiki/Droid_%28font%29">Droid</a>)
		<br/>type to enter new text, drag to spin the text -->
		<br/><span class="button" id="color">change color</span>,
			<span class="button" id="font">change font</span>,
			<span class="button" id="weight">change weight</span>,
			<span class="button" id="bevel">change bevel</span>,
			<span class="button" id="postprocessing">change postprocessing</span>,
			<a id="permalink" href="#">permalink</a>
		</div>

		<!--			-->
		<!--	LIBS 	-->
		<!--			-->

		<script src="js/libs/three.min.js"></script>
		<script type="text/javascript" src="js/libs/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/libs/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="js/libs/handlebars.js"></script>
		<script type="text/javascript" src="js/libs/jquery.transit.min.js"></script>

		<script src="js/shaders/ConvolutionShader.js"></script>
		<script src="js/shaders/CopyShader.js"></script>
		<script src="js/shaders/FilmShader.js"></script>
		<script src="js/shaders/FXAAShader.js"></script>

		<script src="js/postprocessing/EffectComposer.js"></script>
		<script src="js/postprocessing/RenderPass.js"></script>
		<script src="js/postprocessing/ShaderPass.js"></script>
		<script src="js/postprocessing/MaskPass.js"></script>
		<script src="js/postprocessing/BloomPass.js"></script>
		<script src="js/postprocessing/FilmPass.js"></script>

		<script src="js/libs/Detector.js"></script>
		<script src="js/libs/stats.min.js"></script>

		<!-- load the font files -->

		<script src="assets/fonts/gentilis_bold.typeface.js"></script>
		<script src="assets/fonts/gentilis_regular.typeface.js"></script>
		<script src="assets/fonts/optimer_bold.typeface.js"></script>
		<script src="assets/fonts/optimer_regular.typeface.js"></script>
		<script src="assets/fonts/helvetiker_bold.typeface.js"></script>
		<script src="assets/fonts/helvetiker_regular.typeface.js"></script>
		<script src="assets/fonts/droid/droid_sans_regular.typeface.js"></script>
		<script src="assets/fonts/droid/droid_sans_bold.typeface.js"></script>
		<script src="assets/fonts/droid/droid_serif_regular.typeface.js"></script>
		<script src="assets/fonts/droid/droid_serif_bold.typeface.js"></script>

		<!--	 -->
		<!-- APP -->
		<!-- 	 -->

		<script type="text/javascript" src="js/3d_text.js"></script>
		<script type="text/javascript" src="js/main.js"></script>
		<script type="text/javascript">
			window.physicalTweets.init();
		</script>
	</body>
</html>

