body, html {
	font-family: Monospace;
	background-color: white;
	color: #fff;
	margin: 0px;
	overflow: hidden;
}
#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}
#info-index {
	display: none;
}
#info a, .button { 
	color: #f00; 
	font-weight: bold; 
	text-decoration: 
	underline; 
	cursor: pointer 
}
.ejs-context {
	display: none;
}

/*	   */
/* SVG */
/* 	   */

.svg {
	background: cyan;
	position: absolute;
	width: 300px;
	margin: 200px auto;
	left: 0;
	right: 0;
	display: none;
}
.svg .main-svg-text {
	text-align: center;
}
